{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta content="ie=edge,chrome=1" http-equiv="x-ua-compatible">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>Flesch.computer - {% block title %}PAGE SANS TITRE{% endblock %}</title>
        <meta http-equiv="content-language" content="fr" />
        <link rel="stylesheet" href="{% static "flesch.css" %}">
        <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}/favicon.png"/>
        {% block extra_headers %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block content %}{% endblock %}{# some app use 'content' #}

        {% if user.is_authenticated %}
        <br/>
        <br/>
        <hr/>
        <p>Connecté en tant que '{{ user }}'. <a href="{% url 'logout' %}?next=/">[déconnexion]</a></p>
        {% endif %}

    </body>
</html>
