DEBUG = True

ALLOWED_HOSTS = [
    "127.0.0.1",
    "{{ web_domain }}",
    "www.{{ web_domain }}",
    "a.{{ web_domain }}",
    {% for host in groups['web'] %}
    "{{ host }}",
    {% endfor %}
]

DATABASES = {
    'ldap': {
        'ENGINE': 'ldapdb.backends.ldap',
        'NAME': 'ldap://{{ ldap_server }}/',
        'USER': 'cn=admin,{{ ldap_basedn }}',
        'PASSWORD': '{{ ldap_admin_password }}',
    },
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': '{{ mariadb_db }}',
        'USER': '{{ mariadb_user }}',
        'PASSWORD': '{{ mariadb_password }}',
        'HOST': '{{ groups['mariadb'][0] }}',
        'PORT': '3306',
        'CONN_MAX_AGE': 3600,
        'OPTIONS': {
            'init_command': (
                "SET sql_mode='STRICT_TRANS_TABLES'; SET innodb_strict_mode=1"
            ),
            'charset': 'utf8mb4',
        },
        'TEST': {
            'CHARSET': 'utf8mb4',
            'COLLATION': 'utf8mb4_unicode_ci',
        },
    },
}
AUTH_LDAP_SERVER_URI = "ldap://{{ ldap_server }}/"
AUTH_LDAP_USER_DN_TEMPLATE = "uid=%(user)s,ou=users,{{ ldap_basedn }}"


GIT_CLONE_REPOSITORY = "{{ ansible_playbook }}"
