<VirtualHost *:80>
	ServerName {{ web_domain }}
	ServerAdmin {{ admin_email }}

	DocumentRoot /var/www/html
	Alias /static /var/www/tuxherding/farmer-web/collected
	<Location /static/>
		ExpiresActive on
		ExpiresDefault "access plus 1 day"
		Options -Indexes
	</Location>

	WSGIScriptAlias / /var/www/tuxherding/farmer-web/farmer/wsgi.py
	WSGIDaemonProcess \
		{{ web_domain }} \
		python-path=/var/www/tuxherding/farmer-web \
		python-home=/var/www/tuxherding/farmer-web/venv \
		display-name=wsgi_tuxherding \
		processes=2 threads=10 maximum-requests=50
	WSGIProcessGroup {{ web_domain }}
	WSGIPassAuthorization On

	<Directory /var/www/tuxherding/farmer-web/farmer>
		<Files wsgi.py>
			Require all granted
		</Files>
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
