{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Accueil{% endblock %}

{% block body %}
<p>
<a href="{% url "mgmt:show_user" %}">Espace utilisateur</a>
- <a href="{% url "mgmt:home" %}">Administration</a>
- <a href="{% url "front:install" %}">Installation de l'agent</a>
</p>

<hr/>

<br/>
<br/>
<br/>

<form method="GET" action="https://www.google.fr/search">
	<img src="https://www.google.fr/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png"
		height="25" width="75"
		/>
	<input type="text" name="q" size="50" value="" />
	<input type="submit" value="Rechercher" />
</form>

{% endblock %}
