{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Installation de Pytux{% endblock %}

{% block body %}
<p>
<a href="{% url "mgmt:show_user" %}">Espace utilisateur</a>
- <a href="{% url "mgmt:home" %}">Administration</a>
- <a href="{% url "front:install" %}">Installation de l'agent</a>
</p>

<hr/>

<p><a href="{% static "install.sh" %}">Script d'installation</a></p>

<pre>
sudo -i

wget https://&lt;server&gt;/static/install.sh
sh ./install.sh
</pre>

{% endblock %}
