<LDAP>
	# LDAP server URL
	URL ldap://{{ ldap_server }}

	# Bind DN (If your LDAP server doesn't support anonymous binds)
	# BindDN		uid=Manager,ou=People,dc=example,dc=com

	# Bind Password
	# Password	SecretPassword

	# Network timeout (in seconds)
	Timeout		15

	# Enable Start TLS
	# TLSEnable	yes
	TLSEnable no

	# Follow LDAP Referrals (anonymously)
	FollowReferrals yes

	# TLS CA Certificate File
	# TLSCACertFile	/usr/local/etc/ssl/ca.pem

	# TLS CA Certificate Directory
	# TLSCACertDir	/etc/ssl/certs

	# Client Certificate and key
	# If TLS client authentication is required
	# TLSCertFile	/usr/local/etc/ssl/client-cert.pem
	# TLSKeyFile	/usr/local/etc/ssl/client-key.pem

	# Cipher Suite
	# The defaults are usually fine here
	# TLSCipherSuite	ALL:!ADH:@STRENGTH
</LDAP>

<Authorization>
	# Base DN
	BaseDN "ou=computers,{{ ldap_basedn }}"

	# User Search Filter
	# SearchFilter "(&(uid=%u)(accountStatus=active))"
	SearchFilter "(uid=%u)"

	# Require Group Membership
	RequireGroup false

	# Add non-group members to a PF table (disabled)
	#PFTable ips_vpn_users
</Authorization>
