{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
  <h2>Connexion</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Connecter</button>
  </form>
{% endblock %}
