{% extends "mgmt_base.html" %}

{% block mgmt_title %}Variables globales{% endblock %}
{% block mgmt_head %}Variables globales{% endblock %}

{% block mgmt_path %}
> <a href="{% url 'mgmt:list_errors' %}">Variables</a>
{% endblock %}

{% block mgmt_body %}

<p><a href="{% url 'mgmt:create_variable' %}">[ajouter]</a></p>

<table class="mgmt_variables">
	<tr>
		<th>Nom</th>
		<th>Valeur</th>
	</tr>
	{% for variable in variables %}
	<tr>
		<td>{{ variable.name }}</td>
		<td>{{ variable.value }}</td>
		<td>
			<a href="{% url "mgmt:edit_variable" variable.id %}">[editer]</a>
		</td>
	</tr>
	{% endfor %}
</table>


{% endblock %}
