{% extends "mgmt_base.html" %}

{% load staticfiles %}

{% block mgmt_title %}Espace utilisateur{% endblock %}
{% block mgmt_head %}Espace utilisateur{% endblock %}
{% block mgmt_path %}{% endblock %}</p>

{% block mgmt_body %}
<h1>{{ user }}</h1>

<h2>Informations sur l'utilisateur</h2>

<table>
    <tr><td>Identifiant</td><td>{{ ldap.user_name }}</td></tr>
    <tr><td>Nom complet</td><td>{{ ldap.full_name }}</td></tr>
    <tr>
        <td>Serveur de stockage</td>
        <td>
            Nom: {{ storage.server.nice_name }}</br>
            Adresse: 
            <a href="https://{{ storage.server.address }}">https://{{ storage.server.address }}</a>
        </a></td>
    </tr>
    <tr><td>Email</td><td>{{ ldap.email }}</td></tr>
    <tr><td>Téléphone</td><td>{{ ldap.phone }}</td></tr>
    <tr><td>Adresse</td><td>{{ ldap.postalAddress }}</td></tr>
    <tr><td>Code postal</td><td>{{ ldap.postalCode }}</td></tr>
    <tr><td>Ville</td><td>{{ ldap.city }}</td></tr>
</table>

<h2>Ordinateurs associés</h2>

<table class="mgmt_computers">
	<tr>
		<th>Identifiant</th>
		<th>Nom</th>
		<th>Utilisateurs</th>
	</tr>
	{% for computer in computers %}
	<tr>
		<td>{{ computer.user_name }}</td>
		<td>{{ computer.full_name }}</td>
		<td>{{ computer.users|join:", " }}</td>
		<td>
			<a href="{% url "mgmt:edit_computer" computer.cn %}">[voir]</a>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
