{% extends "mgmt_base.html" %}

{% block mgmt_title %}Variable {{ name }}{% endblock %}
{% block mgmt_head %}Variable {{ name }}{% endblock %}

{% block mgmt_path %}
> Variables > {{ name }}
{% endblock %}

{% block mgmt_body %}

<form action="{{ target_url }}" method="POST">
	{% csrf_token %}
	<table class="tuxherding_form">
	{{ variable.as_table }}
	</table>
	<input type="submit" value="{{ action }}" />
</form>

{% if variable_id %}
<form action="{% url "mgmt:delete_variable" variable_id %}" method="POST">
	{% csrf_token %}
	<input type="submit" value="Effacer" />
</form>
{% endif %}

{% endblock %}
