{% extends "mgmt_base.html" %}

{% block mgmt_title %}Erreurs et notifications{% endblock %}
{% block mgmt_head %}Erreurs et notifications{% endblock %}

{% block mgmt_path %}
> <a href="{% url 'mgmt:list_errors' %}">Erreurs et notifications</a>
{% endblock %}

{% block mgmt_body %}

{% if user.is_staff %}
<p>
<form action="{% url "mgmt:clear_errors" %}" method="POST">
	{% csrf_token %}
	<input type="submit" value="Tout marquer comme lu" />
</form>
</p>
{% endif %}


<table class="mgmt_errors">
	<tr>
		<th>Date</th>
		<th>Ordinateur</th>
	</tr>
	{% for error in errors %}
	<tr>
		<td>
			{% if not error.read %}
			<strong>
			{% endif %}
			<a href="{% url "mgmt:show_error" error.id %}">{{ error.date }}</a>
			{% if not error.read %}
			</strong>
			{% endif %}
		</td>
		<td><a href="{% url "mgmt:edit_computer" error.computer_cn %}">{{ error.computer_cn }}</a></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
