{% extends "mgmt_base.html" %}

{% block mgmt_title %}Serveurs de stockage{% endblock %}
{% block mgmt_head %}Serveurs de stockage{% endblock %}

{% block mgmt_path %}
> <a href="{% url 'mgmt:list_servers' %}">Serveurs de stockage</a>
{% endblock %}

{% block mgmt_body %}

<p><a href="{% url 'mgmt:create_server' %}">[ajouter]</a></p>

<table class="mgmt_servers">
	<tr>
		<th>Nom</th>
		<th>Adresse</th>
	</tr>
	{% for server in servers %}
	<tr>
		<td>{{ server.nice_name }}</td>
		<td>{{ server.adress }}</td>
		<td>
			<a href="{% url "mgmt:edit_server" server.id %}">[voir]</a>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
