{% extends "mgmt_base.html" %}

{% block mgmt_title %}Utilisateurs{% endblock %}
{% block mgmt_head %}Utilisateurs{% endblock %}

{% block mgmt_path %}
> <a href="{% url 'mgmt:list_users' %}">Utilisateurs</a>
{% endblock %}

{% block mgmt_body %}

<p><a href="{% url 'mgmt:create_user' %}">[ajouter]</a></p>

<table class="mgmt_users">
	<tr>
		<th>Identifiant</th>
		<th>Nom</th>
	</tr>
	{% for user in users %}
	<tr>
		<td>{{ user.user_name }}</td>
		<td>{{ user.full_name }}</td>
		<td>
			<a href="{% url "mgmt:edit_user" user.cn %}">[voir]</a>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
