{% extends "mgmt_base.html" %}

{% block mgmt_title %}Ordinateurs{% endblock %}
{% block mgmt_head %}Ordinateurs{% endblock %}

{% block mgmt_path %}
> <a href="{% url 'mgmt:list_computers' %}">Ordinateurs</a>
{% endblock %}

{% block mgmt_body %}

<p><a href="{% url 'mgmt:create_computer' %}">[ajouter]</a></p>

<table class="mgmt_computers">
	<tr>
		<th>Identifiant</th>
		<th>Nom</th>
		<th>Utilisateurs</th>
	</tr>
	{% for computer in computers %}
	<tr>
		<td>{{ computer.user_name }}</td>
		<td>{{ computer.full_name }}</td>
		<td>{{ computer.users|join:", " }}</td>
		<td>
			<a href="{% url "mgmt:edit_computer" computer.cn %}">[voir]</a>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
