{% extends "mgmt_base.html" %}

{% block mgmt_title %}Ordinateur {{ name }}{% endblock %}
{% block mgmt_head %}Ordinateur {{ name }}{% endblock %}

{% block mgmt_path %}
&gt; <a href="{% url 'mgmt:list_computers' %}">Ordinateurs</a>
&gt; Ordinateur {{ name }}
{% endblock %}

{% block mgmt_body %}

{% if user.is_staff %}
<form action="{{ target_url }}" method="POST">
	{% csrf_token %}
	<table class="tuxherding_form">
	{{ computer.as_table }}
	</table>
	<input type="submit" value="{{ action }}" />
</form>
{% else %}
<h2>Description</h2>

<p>{{ computer.full_name }}</p>

<pre>{{ computer.long_description }}</pre>
{% endif %}


<h2>Status et historique</h2>

<ul>
	<li><a href="{% url 'mgmt:show_computer_dmesgs' name %}">Dmesgs</a></li>
	<li>
		<a href="{% url 'mgmt:show_computer_errors' name %}">
		{% if error_unread > 0 %}<strong>{% endif %}
			Erreurs et notifications
		{% if error_unread > 0 %} ({{ unread_errors }})</strong>{% endif %}
		</a>
	</li>
	<li><a href="{% url 'mgmt:show_computer_upgrades' name %}">Mises à jour</a></li>
	<li><a href="{% url 'mgmt:show_stats' name %}">Statistiques</a></li>
</ul>


{% if address and user.is_staff %}
<h2>Contrôle à distance</h2>

<table>
	<tr>
		<td>VNC</td>
		<td><a href="vnc://{{ address }}">vnc://{{ address }}</td>
	</tr>
	<tr>
		<td>SSH</td>
		<td><a href="ssh://{{ address }}">ssh://{{ address }}</td>
	</tr>
</table>
{% endif %}


{% if user.is_staff %}
<h2>Variables</h2>

{% if variables %}
<table class="mgmt_variables">
	<tr>
		<th>Nom</th>
		<th>Valeur</th>
	</tr>
	{% for variable in variables %}
	<tr>
		<td>{{ variable.name }}</td>
		<td>{{ variable.value }}</td>
		<td>
			<a href="{% url "mgmt:edit_variable" variable.id %}">[editer]</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}

<p><a href="{% url 'mgmt:create_variable' name %}">[ajouter]</a></p>

<h2>Suggestions de mot de passe</h2>
<ul>
	{% for password in suggested_passwords %}
	<li>{{ password }}</li>
	{% endfor %}
</ul>
{% endif %}

{% endblock %}
