{% extends "mgmt_base.html" %}

{% block mgmt_title %}Erreur/notif. {{ error.computer_cn }} - {{ error.date }}{% endblock %}
{% block mgmt_head %}Erreur/notif. {{ error.computer_cn }} - {{ error.date }}{% endblock %}

{% block mgmt_path %}
&gt; <a href="{% url 'mgmt:list_computers' %}">Ordinateurs</a>
&gt; <a href="{% url 'mgmt:edit_computer' name %}">Ordinateur {{ name }}</a>
&gt; <a href="{% url 'mgmt:show_computer_errors' name %}">Erreurs et notifications</a>
&gt; Erreur/notif. {{ error.computer_cn }} - {{ error.date }}
{% endblock %}

{% block mgmt_body %}

<ul>
	<li>Ordinateur: <a href="{% url "mgmt:edit_computer" error.computer_cn %}">{{ error.computer_cn }}</a></li>
	<li>Date: {{ error.date }}</li>
	<li>Traces:

{% if content.items %}
<table>
	{% for k, v in content.items %}
	<tr>
		<td>{{ k }}</td>
		<td><pre>{{ v }}</pre></td>
	</tr>
	{% endfor %}
</table>
{% else %}
<pre>
{{ content }}
</pre>
{% endif %}

	</li>
</ul>


{% endblock %}
