{% extends "mgmt_base.html" %}

{% block mgmt_title %}Roles{% endblock %}
{% block mgmt_head %}Roles{% endblock %}

{% block mgmt_path %}
> <a href="{% url 'mgmt:list_roles' %}">Roles</a>
{% endblock %}

{% block mgmt_body %}

<p><a href="{% url 'mgmt:reload_roles' %}">[recharger depuis Git]</a></p>

<table class="mgmt_roles">
	<tr>
		<th>Identifiant</th>
	</tr>
	{% for role in roles %}
	<tr>
		<td>{{ role.name }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
