{% extends "mgmt_base.html" %}

{% block mgmt_title %}Dmesgs de {{ name }}{% endblock %}
{% block mgmt_head %}Dmesgs de {{ name }}{% endblock %}

{% block mgmt_path %}
&gt; <a href="{% url 'mgmt:list_computers' %}">Ordinateurs</a>
&gt; <a href="{% url 'mgmt:edit_computer' name %}">Ordinateur {{ name }}</a>
&gt; Dmesgs
{% endblock %}

{% block mgmt_body %}

<table>
	<tr>
		<th>Date</th>
	</tr>
	{% for dmesg in dmesgs %}
	<tr>
		<td>
			<a href="{% url "mgmt:show_dmesg" dmesg.id %}">
				{{ dmesg.date }}
			</a>
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
