{% extends "base.html" %}

{% block title %}Administration - {% block mgmt_title %}{% endblock %}{%endblock %}

{% block body %}

<p><a href="{% url 'front:home' %}">Accueil</a>
{% if user.is_staff %}
&gt; <a href="{% url 'mgmt:home' %}">Administration</a>
{% else %}
&gt; <a href="{% url 'mgmt:show_user' %}">Espace utilisateur</a>
{% endif %}
{% block mgmt_path %}CHEMIN NON DEFINI{% endblock %}</p>

<hr/>

<h1>{% block mgmt_head %}{% endblock %}</h1>

{% block mgmt_body %}{% endblock %}

{% endblock %}
