{% extends "mgmt_base.html" %}

{% block mgmt_title %}Utilisateur {{ name }}{% endblock %}
{% block mgmt_head %}Utilisateur {{ name }}{% endblock %}

{% block mgmt_path %}
> <a href="{% url 'mgmt:list_users' %}">Utilisateurs</a>
> Utilisateur {{ name }}
{% endblock %}

{% block mgmt_body %}

<form action="{{ target_url }}" method="POST">
	{% csrf_token %}
	<table class="tuxherding_form">
	{{ user.as_table }}
	</table>
	<input type="submit" value="{{ action }}" />
</form>

{% if computers %}
<h2>Ordinateurs associés</h2>

<table class="mgmt_computers">
	<tr>
		<th>Identifiant</th>
		<th>Nom</th>
		<th>Utilisateurs</th>
	</tr>
	{% for computer in computers %}
	<tr>
		<td>{{ computer.user_name }}</td>
		<td>{{ computer.full_name }}</td>
		<td>{{ computer.users|join:", " }}</td>
		<td>
			<a href="{% url "mgmt:edit_computer" computer.cn %}">[voir]</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endif %}

<h2>Suggestions de mot de passe</h2>
<ul>
	{% for password in suggested_passwords %}
	<li>{{ password }}</li>
	{% endfor %}
</ul>
{% endblock %}
