{% extends "mgmt_base.html" %}

{% block mgmt_title %}Erreurs et notifications de {{ name }}{% endblock %}
{% block mgmt_head %}Erreurs et notifications de {{ name }}{% endblock %}

{% block mgmt_path %}
&gt; <a href="{% url 'mgmt:list_computers' %}">Ordinateurs</a>
&gt; <a href="{% url 'mgmt:edit_computer' name %}">Ordinateur {{ name }}</a>
&gt; Erreurs et notifications
{% endblock %}

{% block mgmt_body %}

<table>
	<tr>
		<th>Date</th>
	</tr>
	{% for error in errors %}
	<tr>
		<td>
			{% if not error.read %}
			<strong>
			{% endif %}
			<a href="{% url "mgmt:show_error" error.id %}">
				{{ error.date }}
			</a>
			{% if not error.read %}
			</strong>
			{% endif %}
		</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
