{% extends "mgmt_base.html" %}

{% block mgmt_title %}Dmesg {{ dmesg.computer_cn }} - {{ dmesg.date }}{% endblock %}
{% block mgmt_head %}Dmesg {{ dmesg.computer_cn }} - {{ dmesg.date }}{% endblock %}

{% block mgmt_path %}
&gt; <a href="{% url 'mgmt:list_computers' %}">Ordinateurs</a>
&gt; <a href="{% url 'mgmt:edit_computer' name %}">Ordinateur {{ name }}</a>
&gt; <a href="{% url 'mgmt:show_computer_dmesgs' name %}">Dmesgs</a>
&gt; Dmesg {{ dmesg.computer_cn }} - {{ dmesg.date }}
{% endblock %}

{% block mgmt_body %}

<ul>
	<li>Ordinateur: <a href="{% url "mgmt:edit_computer" dmesg.computer_cn %}">{{ dmesg.computer_cn }}</a></li>
	<li>Date: {{ dmesg.date }}</li>
	<li>Traces:

<table>
	{% for k, v in content %}
	<tr>
		<td>{{ k }}</td>
		<td>{{ v }}</td>
	</tr>
	{% endfor %}
</table>

	</li>
</ul>


{% endblock %}
