{% extends "mgmt_base.html" %}

{% load nvd3_tags %}

{% block mgmt_title %}Statistique {{ computer_cn }} - {{ name }}{% endblock %}
{% block mgmt_head %}Statistique {{ computer_cn }} - {{ name }}{% endblock %}

{% block extra_headers %}
	{% include_chart_jscss %}
	{% load_chart charttype chartdata chartcontainer extra %}
{% endblock %}


{% block mgmt_path %}
> <a href="{% url 'mgmt:list_computers' %}">Ordinateurs</a>
> <a href="{% url 'mgmt:edit_computer' computer_cn %}">Ordinateur {{ computer_cn }}</a>
> Statistique {{ name }}
{% endblock %}

{% block mgmt_body %}

{% include_container chartcontainer 450 '90%' %}

{% endblock %}
