{% extends "mgmt_base.html" %}

{% block mgmt_title %}Statistiques de {{ name }}{% endblock %}
{% block mgmt_head %}Statistiques de {{ name }}{% endblock %}

{% block mgmt_path %}
&gt; <a href="{% url 'mgmt:list_computers' %}">Ordinateurs</a>
&gt; <a href="{% url 'mgmt:edit_computer' name %}">Ordinateur {{ name }}</a>
&gt; Statistiques
{% endblock %}

{% block mgmt_body %}

<table>
	<tr>
		<th>Date</th>
		<th>Nom</th>
		<th>Valeur</th>
	</tr>
	{% for statdate in stats %}
	<tr>
		<td>{{ statdate.date }}</td>
		<td></td>
		<td></td>
	</tr>
	{% for stat in statdate.stats %}
	<tr>
		<td></td>
		<td>{{ stat.name }}</td>
		<td>{{ stat.value }}</td>
		<td>
			<a href="{% url 'mgmt:show_stat' name stat.id %}">
				[historique]
			</a>
		</td>
	</tr>
	{% endfor %}
	{% endfor %}
</table>

{% endblock %}
