{% extends "mgmt_base.html" %}

{% block mgmt_title %}Mises à jour de {{ name }}{% endblock %}
{% block mgmt_head %}Mise à jour de {{ name }}{% endblock %}

{% block mgmt_path %}
&gt; <a href="{% url 'mgmt:list_computers' %}">Ordinateurs</a>
&gt; <a href="{% url 'mgmt:edit_computer' name %}">Ordinateur {{ name }}</a>
&gt; Mises à jours
{% endblock %}

{% block mgmt_body %}

<table>
	<tr>
		<th>Date</th>
		<th>Paquet</th>
		<th>Version</th>
		<th>Commande</th>
	</tr>
	{% for upgrade in upgrades %}
	<tr>
		<td>{{ upgrade.date }}</td>
		<td>{{ upgrade.pkg }}</td>
		<td>{{ upgrade.version }}</td>
		<td>{{ upgrade.command }}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
