{% extends "mgmt_base.html" %}

{% block mgmt_title %}Gestion{% endblock %}
{% block mgmt_head %}Gestion{% endblock %}

{% block mgmt_path %}{% endblock %}

{% block mgmt_body %}

<ul>
	<li>
		<a href="{% url 'mgmt:list_computers' %}">Ordinateurs</a>
		<a href="{% url 'mgmt:create_computer' %}">[ajouter]</a>
	</li>
	<li>
		<a href="{% url 'mgmt:list_users' %}">Utilisateurs</a>
		<a href="{% url 'mgmt:create_user' %}">[ajouter]</a>
	</li>
	<li>
		<a href="{% url 'mgmt:list_roles' %}">Roles</a>
	</li>
	<li>
		{% if unread_errors %}
		<strong>
		{% endif %}
		<a href="{% url 'mgmt:list_errors' %}">Erreurs et notifications</a>
		{% if unread_errors %}
		({{ unread_errors }})
		</strong>
		{% endif %}
	</li>
	<li>
		<a href="{% url 'mgmt:list_variables' %}">Variables globales</a>
	</li>
	<li>
		<a href="{% url 'mgmt:list_servers' %}">Serveurs de stockage</a>
		<a href="{% url 'mgmt:create_server' %}">[ajouter]</a>
	</li>
</ul>

{% endblock %}
