{% extends "mgmt_base.html" %}

{% block mgmt_title %}Serveur {{ name }}{% endblock %}
{% block mgmt_head %}Serveur {{ name }}{% endblock %}

{% block mgmt_path %}
> <a href="{% url 'mgmt:list_servers' %}">Serveurs de stockage</a>
> Serveur {{ name }}
{% endblock %}

{% block mgmt_body %}

<form action="{{ target_url }}" method="POST">
	{% csrf_token %}
	<table class="tuxherding_form">
	{{ server.as_table }}
	</table>
	<input type="submit" value="{{ action }}" />
</form>

{% endblock %}
